html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

h2 {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  display: inline;
  font-size: 4rem;
}

p {
  font-style: italic;
  font-size: 2rem;
  margin: .75rem;
  margin-top: .5em;
  margin-left: 0;
}

.banner {
  max-height: 500px;
  position: relative;
}

.img-flex {
  display: block;
  width: 100%;
}

.content {
  max-width: 50em;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
  margin: .25em;
  padding-left: 1em;
}

body {
  margin: 0;
  padding: 0;
}
