html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
}

h2 {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  display: inline;
  font-size: 4rem;
}

p {
  font-style: italic;
  font-size: 2rem;
  margin: 1rem;
  margin-left: 0;
}

.banner {
  max-height: 500px;
  position: relative;
}

.img-flex {
  display: block;
  width: 100%;
}

.content {
  max-width: 50em;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  transform: translateX(3%);
}

body {
  margin: 0;
}
